/*::: MEDIA QUERIES :::*/
    
@media (max-width: 1200px) {
    
    .main-contact {

        display: flex;
        flex-direction: column;
        gap: 80px }


    .contact {

        width: auto;;
        height: auto;
        content: '';
        border-radius: 10px;
                
        }
    }  

    


@media (max-width: 992px) {

    .nav {
        // display: flex;
        flex-direction: row;
        align-items: center; 
        }
        & .nav_link{
        // display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: stretch; 
            display: block;

        }

    .article__subtitle { 
        
        margin-top: 50px;
        width: 500px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}

@media (max-width: 768px) {

    //HEADER//

    #header .nav .nav_link .animation_nav {

        font-size:14px;
        }

        .img_logo {

            height: auto;
            width: auto;
        }

        #contenedor__main .texto-int-imagen h2{

            font-size: 16px;
        }
    .user_info { 
        grid-template-columns: repeat(1, 1fr); 
    }

    .gallery__div { 
    
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        }
        .section-servicios .article--servicios  {

        display: flex;
        flex-direction: row;

        }
        .section2-servicios .div--card .article-card .card {

            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 200px;
            gap: 10px;

        }

        .maps {

            width: 400px;
            height: auto ;
    
        }
}


    
    @media (max-width: 576px) {   /*ESTILO IMÁGENES PARRALLAX*/
        .nav_link { 

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: stretch; 
        }
        .form-contact {

            width: auto;
            height: auto;
            
                    
            }
        .maps {

            width: auto;
            height: auto ;
    
        }
    }
}

